body{

background-color:  #0d4acf;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
width: 4000px;
    background-color: rgb(230, 11, 175);
    padding: 200px;
    margin: 500px auto;
    border: 10px solid #cccccccc;
    border-radius: 100px;
}
label{

    font-weight: bold;
}
input{
    width: 1000px;
    padding: 100px;
    margin-bottom: 150px;
}